@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:  "Roboto";    
}
img{
    fill: #faeb64;  
    transform: scale(0.3);
    border: 2px solid red;
}



.container {
    display: grid;
    background-color: white;
    grid-template-columns: 0.5fr 2.5fr;
    width: 100%;
    height: 100vh;
    .leftcontainer{
        background-color: #0ea5e9;
        color: white;
        font-size: 1.8rem;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-left: 2.5rem;
        box-shadow: 2px 0px 2px -1px gray;
        .title{
            margin-top: 0.5rem;
            align-self: flex-start;
            position: relative;
            top: 2rem;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                transform:  scale(1.06);
            }
        }
        .middle{
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            gap: 1rem;
            position: relative;
            top: 3rem;
        }
        .bottom{
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            gap: 1rem;
            position: relative;
            top: 10rem;
        }
    }
}

.rightcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 1.2fr;
    .header{
        grid-area: 1/1/2/4;
        padding: 2rem;
        box-shadow: 0 4px 2px -2px gray;
        .upcontainer{

            display: flex;
            width: 100%;
            height: 50%;
            justify-content: space-between;
            align-items: center;
            .searchbar{
                padding-left: 3rem;
                padding-bottom: 3.5rem;
            }
            input{
                width: 35rem;
                height: 2rem;
                background-color: lightgrey;
                opacity: 0.6;
                border: none;
                border-radius: 2rem;
                padding: 1rem;
            }
            .notification{
                padding-right: 2rem;
                padding-bottom: 3.5rem;
                font-size: 1.5rem;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                img{
                    border-radius: 50%;
                    width: 180px;
                    height: 180px;
                    margin-left: 2rem;
                }
                span{
                    cursor: pointer;
                    transition: 0.3 all ease-in-out;
                    padding-right: 2rem;
                    font-size: 1.1rem;
                    
                }
            }
            
        }
        .bottomcontainer{
            display: flex;
            width: 100%;
            height: 50%;
            justify-content: space-between;
            align-items: center;
            
            .logo{
                display: flex;
                flex-direction: column;
                padding-left: 3rem;
            }
            .buttons{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 2rem;
                gap: 2rem;
                button{
                    width: 8rem;
                    height: 3rem;
                    border-radius: 2rem;
                    background-color: #0ea5e9;
                    color: white;
                    font-size: 1.2rem;
                    font-weight: bold;
                    transition: all .3s ease-in-out;
                    &:hover{
                        background-color: white;
                        color: #0ea5e9;
                        transform: scale(1.14);
                        cursor: pointer;
                    }
                }
            }
        }
            
        
    }
    .projects{
        background-color: lightgrey;
        opacity: 0.7;
        grid-area: 2/1/5/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        .modal{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 80%;
            height: 80%;
            background-color: white;
            border-radius: 1rem;
            margin-left: 1.5rem;
            margin-top: 1.5rem;
            padding: 2rem;
            border-left: 0.8rem solid orange;
            box-shadow: 4px 4px 2px -1px gray;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.02);
            }
            &::before{
                background-color: yellow;
            }
            h1{
                font-size: 1.1rem;
            }
            h2{
                padding-top: 1rem;
                font-size: .9rem;
                font-weight: normal;
            }
            .iconcontainer{
                align-self: flex-end;
                padding-top: 2rem;
                span{
                    transition: all 0.2s ease;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .announcements{
        grid-area: 2/3/4/4;
        background-color: lightgrey;
        opacity: .7;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1.5rem;
        
        .announcementsmodal{
            background-color: white;
            padding:2rem;
            box-shadow: 4px 4px 2px -1px gray;

            &.one{
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }
            &.three{
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
            h1{
                font-size: 1.1rem;
            }
            h2{
                padding-top: 1rem;
                font-size: .9rem;
                font-weight: normal;
            }
            .divider{
                width: 100%;
                height: 2px;
                background-color: black;
                opacity: 0.6;
                margin-top: 2.5rem;
            }
        }
        
    }
    .trending{
        grid-area: 4/3/5/3;
        background-color: lightgrey;
        opacity: .7;
        padding: 1.5rem;
        .trendscontainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: white;
            box-shadow: 4px 4px 2px -1px gray;
            border-radius: 1rem;
            .rowflex{
                padding: 3rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 2rem;

            }
        }
    }
}

span{
    padding-right: 1rem;
    transform: scale(1.5);
}
